<h1>Reimbursement Claims for <%= @employee.name %></h1>

<%= link_to 'New Reimbursement Claim', new_company_employee_reimbursement_claim_path(@company, @employee), class: "btn btn-primary" %>

<table class="table">
  <thead>
    <tr>
      <th>Purpose</th>
      <th>Amount</th>
      <th>Date of Expenditure</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @reimbursement_claims.each do |claim| %>
      <tr>
        <td><%= claim.purpose %></td>
        <td><%= number_to_currency(claim.amount) %></td>
        <td><%= claim.date_of_expenditure %></td>
        <td>
          <%= link_to 'Show', company_employee_reimbursement_claim_path(@company, @employee, claim) %>
          <%= link_to 'Edit', edit_company_employee_reimbursement_claim_path(@company, @employee, claim) %>
          <%= link_to 'Destroy', company_employee_reimbursement_claim_path(@company, @employee, claim), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back to Employee',company_employee_path(@company, @employee), class: "btn btn-secondary" %>
